# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Environments
.env
.venv
env/
venv/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
